.h1 {
  font-size: 15vw;
  margin: 0;
  background-image: url('../../assets/images/pskov-chetkiy-1000px.png');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 1;
}

.img {
  position: relative;
  width: 800px;
  height: 600px;
  background: url('../../assets/images/pskov-chetkiy-1000px.png');
  background-size: cover;
  background-position: center;
}

.img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/pskov-chetkiy-1000px.png');
  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
  z-index: 0;
}